a.carbon:link {
    color:red;
    text-decoration:none;
}
a.carbon:visited {
    color:red;
    text-decoration:none;
}
a.carbon:hover {
    color:red;
    text-decoration:none;
}
a.carbon:active {
    color:red;
    text-decoration:none;
}
div.travelCost {
	color:#4285F4;
}

#quest_mark_icon {
    position: relative;
    height: 14px;
    width: 14px;
    top: 0;
    margin-left: 5px;
    vertical-align: sub;
    fill: currentColor;
}
