a.carbon:link {
    color:red;
    text-decoration:none;
}
a.carbon:visited {
    color:red;
    text-decoration:none;
}
a.carbon:hover {
    color:red;
    text-decoration:none;
}
a.carbon:active {
    color:red;
    text-decoration:none;
}
a.know-more-link:link {
    color:green;
    font-size:1.5em;
}
a.know-more-link:visited {
    color:green;
    text-decoration:underline;
    font-size:1.5em;
}
a.know-more-link:hover {
    color:green;
    text-decoration:underline;
    font-size:2em;
}
a.know-more-link:active {
    color:green;
    text-decoration:underline;
    font-size:0.7em;
}
div.travelCost {
	color:#4285F4;
}
