    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="{{site.url}}#page-top">
                    <i class="fa fa-play-circle"></i>  {{ site.title }}
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="{{site.url}}#page-top"></a>
                    </li>
                    {% assign sorted = site.pages | sort: "order" %}
                    {% for page in sorted %}
                    {% unless page.url == "/" %}
                    <li>
                        <a href="{{site.url}}#{{ page.title }}">{{ page.title }}</a>
                    </li>
                    {% endunless %}
                    {% endfor %}
                    <li>
                        <a href="#" class="active">Posts</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
