    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">&nbsp;</h1>
                        <p class="intro-text">{{ content }}</p>
                        {% assign sorted = site.pages | sort: "order" %}
                        <a href="#{{ sorted[1].title }}" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
