<html id="tester">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{{translated.extName}}}</title>
    <link rel="stylesheet" href="css/options.css" type="text/css" media="screen"/>
</head>

<body>
<div id="header">
    <img src="../images/globe-128.png">
    <div>
        {{{translated.extName}}}
    </div>
</div>
<div id="container">
    <div id="description">
        {{{translated.mainParah}}}
    </div>
    <div id="form-cont">
        <div id="form">
            <div id="emission-type-cont">
                <input type="radio" v-model="selected" id="type-consumption" value="consumption"
                       class="emission-input-type"/>
                <label for="type-consumption">{{{translated.fuelConsumption}}}</label>
                <input type="radio" v-model="selected" id="type-efficiency" value="efficiency"
                       class="emission-input-type"/>
                <label for="type-efficiency">{{{translated.fuelEfficiency}}}</label>
                <input type="radio" v-model="selected" id="type-emission" value="emission"
                       class="emission-input-type"/>
                <label for="type-emission">{{{translated.coEmission}}}</label>
            </div>
            <div id="form-fields">
                <div class="form-group">
                    <label for="fuel-type">{{{translated.fuelType}}}</label>
                    <select v-model="selectedFuelType" style="text-align:center" id="fuel-type">
                        <option :value="fuelType.name" v-for="fuelType in fuelTypes">{{translated[ 'fuel' + fuelType.name]}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <div style="display: inline-block;width: 49%;">
                        <label for="fuel-cost">{{{translated.fuelCost}}}</label>
                        <input v-model="fuelCost" type="number" size="5" style="text-align:center" id="fuel-cost" min="0"/>
                    </div>
                    <div style="display: inline-block;width: 49%;">
                        <label for="fuel-cost-unit2">{{{translated.fuelCostUnit}}}</label>
                        <select v-model="fuelCostUnit" class="selectFUnit" style="text-align:center" id="fuel-cost-unit2">
                            <option value="L">L</option>
                            <option value="gal">gal</option>
                        </select>
                    </div>
                    <span class="note">{{{translated.fuelCostNote}}}</span>
                </div>
                <div class="emission-input-cont">
                    <consumption v-show="selected == 'consumption'" :translated="translated" :fuel-types="fuelTypes" :selected-fuel-type="selectedFuelType"></consumption>
                    <efficiency v-show="selected == 'efficiency'" :translated="translated" :fuel-types="fuelTypes" :selected-fuel-type="selectedFuelType"></efficiency>
                    <emission  v-show="selected == 'emission'" :translated="translated" :fuel-types="fuelTypes" :selected-fuel-type="selectedFuelType"></emission>
                </div>
                <div class="form-group">
                    <input type="checkbox" id="display-travel-cost">
                    <label for="display-travel-cost">{{{translated.travelCostEstimate}}}</label>
                </div>
                <div class="form-group">
                    <button id="save-button">{{{translated.save}}}</button>
                    <span id="save-message"></span>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="js/utils.js"></script>
<script src="js/vue.js"></script>
<script src="js/components.js"></script>
<script src="js/options.js"></script>
</body>
</html>