* {
    box-sizing: border-box;
}

html,body {
    margin: 0;
    font-family: Helvetica, 'Myriad Pro', Arial, sans-serif;
    padding: 0;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow-x:hidden;
    background: #94b5dc;
}

@-moz-document url-prefix() {
    html,body {
        font-size: 0.88em;
    }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100px, 0);
    transform: translate3d(0, 100px, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

#header > div, #form-cont, #description {
    opacity: 0;
    animation: fadeInUp 800ms;
    animation-delay: 250ms;
    animation-fill-mode: forwards;
}

#reLocation {
    animation: load 1s linear infinite;
}

@keyframes load {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#header {
    display: -webkit-flex;
    display: flex;
    align-items: center;
    height: 130px;
    width: 100%;
    background-color: #495d76;
    font-size: 2.2em;
    color:#fff;
    padding: 40px;
}

#header>img {
    height: 50px;
    vertical-align: middle;
    margin-right: 20px;
}

#header>div {
    display: inline;
}

#container {
  position: relative;
  height: calc(100% - 130px);
}

#bg-image {
  position: absolute;
  bottom: 0;
  left: 10px;
  max-width: 600px;
  width: 45%;
}

#description {
    padding: 40px 40px 80px 40px;
    color:#f0f0f0;
    font-size: 1.4em;
    display: inline-block;
    width: 46%;
    min-width: 320px;
    text-align: justify;
}
#description > p {
  background:#7e9cc0;
  padding: 20px;
  font-weight: 100;
  line-height: 22px;
}

#form-cont {
    display: inline-block;
    width: 49%;
    margin: 0  2%;
    min-width: 320px;
    vertical-align: top;
    margin-top: -50px;
}

#form {
    border-radius: 4px;
    background: #f3f3f3;
    width: 100%;
    max-width: 500px;
    left: 0;
    right: 0;
    margin: auto;
    margin-bottom: 1em;
    box-shadow: 2px 2px 15px rgba(0,0,0,.3);
    border-radius: 3px;
    overflow: hidden;
}

/*Styling for tabs of Emission, fuel intake , fuel efficiency*/
input[type="text"],input[type="number"],select {
    display: block;
    margin-bottom: 0.4em;
}

input[type="checkbox"] {
    margin-bottom: 0.4em;
}

label {
    display: inline-block;
    margin-bottom: 0.4em;
    font-size: 1.05em;
}

input[type="text"],input[type="number"],select {
    width: 100%;
    padding: 0.3em;
    font-size: 1.05em;
    background: #fff;
}

#usage-message {
    font-style:italics;
    font-size:0.9em;
}

button {
    width: 120px;
    padding: 0.5em 1em;
    text-transform: uppercase;
    font-size: 1.05em;
    font-weight: bold;
    color: #fff;
    background: #4a8fe2;
    border:none;
    border-radius: 2px;
    transition: background 0.1s ease-in;
    -webkit-transition: background 0.1s ease-in;
    -moz-transition: background 0.1s ease-in;
    cursor: pointer;
}

#load-prices-button {
    margin-top: 0;
    width: 80px;
    margin-left: 1em;
    margin-bottom: .4em;
    font-size: 0.95em;
    line-height: 2em;
    padding: 0;
    font-weight: normal;
    white-space: nowrap;
}

#load-prices-button:disabled {
    background: #dddddd;
    cursor: not-allowed;
}

button:hover {
    background: #2d7cda;
}

div#emission-type-cont {
    width: 100%;
    text-align: center;
    background: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    height: 50px;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
}

div#emission-type-cont > div.tab-button {
    display: inline-block;
    cursor: pointer;
    width: 32.5%;
    color: #767676;
    font-weight: bold;
    line-height: 46px;
    height: 50px;
    text-transform: uppercase;
    flex: 1 0 0;
    /*border-right: 2px solid rgba(0, 0, 0, 0.2);*/
}

div#emission-type-cont > div.tab-button.middle {
    border: 2px solid #eaeaea;
    border-top-width: 0px;
    border-bottom-width: 0px;
}

div#emission-type-cont > div.tab-button.selected {
    background: #efefef;
    color: #888;
    opacity: 1;
    border-bottom: 4px solid #4c8ce1;
}

div#form-fields {
    padding: 15px 30px;
}

div.emission-input-cont > div.emission-input {
    display: none;
}

div.emission-input-cont > div.emission-input.open {
    display: block;
}

#form .tab {
    display: none;
}

#form .open {
    display: block;
}

.form-group {
    padding: 0.7em 0;
}
.form-head {
    font-size: 1.05em;
    margin-bottom: 0.2em;
}
.form-group > div.unit {
    display: inline-block;
    width: 45%;
}
.unitper {
    padding-left:0.3em;
    padding-right:0.5em;
    width: 1em;
    font-size:2em;
    text-align: center;
}

.emission-input-cont input,select {
    text-align:center;
    height:2em;
    border-radius:4px;
    border: 2px solid #eee;
}

.emission-input-cont input {
    margin-left:1em;
    width:10em;
}

.emission-input-cont input[type='radio'] {
    width:auto;
}

.emission-input-cont select {
    width:3em;
    margin-left:1em;
    -webkit-appearance: none;
}

.form-group > div.unit2 {
    float:right;
    font-size: 0.8em;
}
.form-group > span.note {
    float:right;
    font-size: 0.8em;
}
.form-data {
    display: inline-flex;
    align-items:center;
}

.major input {
    margin-left:0;
}

.footprints .emission-input-cont {
    padding-left:4em;
    margin-top:-1.85em;
}

.emission-input-cont {
    padding-left:2em;
}

.emission-input-cont .checkup-number {
    width: 4em;
    display: inline-block;
}
.save {
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1em;
}
#location {
  color: #4a8fe2;
  font-weight: bold;
}
#offset {
    text-align: center;
    font-size: 1.1em;
}

.footprints .form-group > input {
    margin-left:2em;
}

a:link,a:visited,a:hover,a:active {
    color:#f39c12;
    text-decoration:underline;
}

@media screen and (max-width: 875px) {
    #header {
        height: 100px;
        font-size: 1.5em;
    }
    #header>img {
        height: 80px;
    }
    #bg-image {
      display: none;
    }
    #description {
        font-size: 1.3em;
        width: 100%;
        padding: 10px 20px;
    }
    #form-cont {
        width: 100%;
        margin: auto;
    }
}

@media screen and (max-width: 500px) {
    #header>img {
        float: left;
    }
    #description {
        font-size: 1.1em;
    }
}

#message {
    padding: 0.5em;
    text-align: center;
    border-radius: 3px;
    margin-top: 2em;
    color: #fff;
    text-transform: uppercase;
    display: none;
}

input:disabled {
    background: #dddddd;
}

select:disabled {
    background: #dddddd;
}

#car-checkup-info {
    font-size: 0.9em;
    text-align: center;
    color: grey;
}

#next-checkup-month {
    margin-left: 0;
}
