a.carbon:link {color:red; text-decoration:none; }
a.carbon:visited {color:red; text-decoration:none; }
a.carbon:hover {color:red; text-decoration:none; }
a.carbon:active {color:red; text-decoration:none; }


a.offset-link:link {color:green; text-decoration:underline;font-size:60%; }
a.offset-link:visited {color:green; text-decoration:underline;font-size:60%; }
a.offset-link:hover {color:green; text-decoration:underline;font-size:60%; }
a.offset-link:active {color:green; text-decoration:underline;font-size:60%; }

