
img { border: 0; }

body {
  font-family: Helvetica, 'Myriad Pro', Arial, sans-serif;
  background: url(images/bg-green.gif) #008f03 repeat-x;
  margin: 0px;
  padding: 0px;
}
        
#logo-wrapper {
  height: 205px;
  text-align: center;
  margin: 0px;
  padding: 0px;
  background-image:url('images/logo-green-blank.png');
  background-repeat:no-repeat;
  background-position:50% -100px;  
}

h1 {
  height: 50 px;
  padding: 0; margin: 0;
  color: yellow;
  font-size: 30px;
  text-align: center;
  white-space: nowrap;
}

#globe {
  height:150px;
}

#content-wrapper {
  margin: 10px;
  padding: 10px;
  text-align: center;
  color: #fff;
  width: 500px;
  margin-left: auto ;
  margin-right: auto ;
}

#description {
  color: #fff;
  width: 350px;
  margin-left: auto ;
  margin-right: auto ;  
  font-size: 12px;
  padding-bottom: 20px;
}

#emission-div {
  color: #fff;
  font-size: 12px;
  padding-bottom: 0px;
}

#offset {
  font-size: 16px;
  padding-bottom: 20px;
}

#links {
  font-size: 11px;
  padding-bottom: 20px;
}

#save-message {
  font-size: 9pt;
}

a:link {color:yellow; text-decoration:underline; }
a:visited {color:yellow; text-decoration:underline; }
a:hover {color:yellow; text-decoration:underline; }
a:active {color:yellow; text-decoration:underline;}
